.hero {
  height: calc(100vh - 100px);
  background: linear-gradient(180deg, #0c0c1d, #111132);
  overflow: hidden;
  position: relative;
  .wrapper {
    height: 100%;
    max-width: 1200px;
    margin: auto;
    .textCont {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;
      img {
        width: 50px;
      }
      h2 {
        font-size: 24px;
        color: rebeccapurple;
        letter-spacing: 8px;
      }
      h1 {
        font-size: 70px;
      }
      button {
        padding: 20px;
        border: 1px solid white;
        border-radius: 10px;
        background-color: transparent;
        color: white;
        margin-right: 20px;
        cursor: pointer;
      }
    }
  }
  .imageCont {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
  .slideText {
    position: absolute;
    font-size: 50vh;
    bottom: -90px;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
  }
}
